In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
                    "A": ["foo", "foo", "foo", "foo", "foo","bar", "bar", "bar", "bar"],
                    "B": ["one", "one", "one", "two", "two","one", "one", "two", "two"],
                    "C": ["small", "large", "large", "small","small", "large", "small", "small","large"],
                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9],
                    "ID": [1, 2, 3, 4, 5, 6, 7, 8, 9],
                  })

In [4]:
df

     A    B      C  D  E  ID
0  foo  one  small  1  2   1
1  foo  one  large  2  4   2
2  foo  one  large  2  5   3
3  foo  two  small  3  5   4
4  foo  two  small  3  6   5
5  bar  one  large  4  6   6
6  bar  one  small  5  8   7
7  bar  two  small  6  9   8
8  bar  two  large  7  9   9

In [5]:
pd.melt(df)

   variable  value
0         A    foo
1         A    foo
2         A    foo
3         A    foo
4         A    foo
5         A    bar
6         A    bar
7         A    bar
8         A    bar
9         B    one
10        B    one
11        B    one
12        B    two
13        B    two
14        B    one
15        B    one
16        B    two
17        B    two
18        C  small
19        C  large
20        C  large
21        C  small
22        C  small
23        C  large
24        C  small
25        C  small
26        C  large
27        D      1
28        D      2
29        D      2
30        D      3
31        D      3
32        D      4
33        D      5
34        D      6
35        D      7
36        E      2
37        E      4
38        E      5
39        E      5
40        E      6
41        E      6
42        E      8
43        E      9
44        E      9
45       ID      1
46       ID      2
47       ID      3
48       ID      4
49       ID      5
50       ID      6
51       ID      7
52       ID      8
53       ID      9

In [8]:
pd.melt(df, id_vars=['ID'])

    ID variable  value
0    1        A    foo
1    2        A    foo
2    3        A    foo
3    4        A    foo
4    5        A    foo
5    6        A    bar
6    7        A    bar
7    8        A    bar
8    9        A    bar
9    1        B    one
10   2        B    one
11   3        B    one
12   4        B    two
13   5        B    two
14   6        B    one
15   7        B    one
16   8        B    two
17   9        B    two
18   1        C  small
19   2        C  large
20   3        C  large
21   4        C  small
22   5        C  small
23   6        C  large
24   7        C  small
25   8        C  small
26   9        C  large
27   1        D      1
28   2        D      2
29   3        D      2
30   4        D      3
31   5        D      3
32   6        D      4
33   7        D      5
34   8        D      6
35   9        D      7
36   1        E      2
37   2        E      4
38   3        E      5
39   4        E      5
40   5        E      6
41   6        E      6
42   7        E      8
43   8        E      9
44   9        E      9

In [10]:
pd.melt(df, id_vars=['ID'], var_name='Alphabets', value_name='Related value')

    ID Alphabets Related value
0    1         A           foo
1    2         A           foo
2    3         A           foo
3    4         A           foo
4    5         A           foo
5    6         A           bar
6    7         A           bar
7    8         A           bar
8    9         A           bar
9    1         B           one
10   2         B           one
11   3         B           one
12   4         B           two
13   5         B           two
14   6         B           one
15   7         B           one
16   8         B           two
17   9         B           two
18   1         C         small
19   2         C         large
20   3         C         large
21   4         C         small
22   5         C         small
23   6         C         large
24   7         C         small
25   8         C         small
26   9         C         large
27   1         D             1
28   2         D             2
29   3         D             2
30   4         D             3
31   5         D             3
32   6         D             4
33   7         D             5
34   8         D             6
35   9         D             7
36   1         E             2
37   2         E             4
38   3         E             5
39   4         E             5
40   5         E             6
41   6         E             6
42   7         E             8
43   8         E             9
44   9         E             9